<section class="feedbacks" id="feedbacks">
  <div class="container">
    <div class="feedbacks-textual-wrapper">
      <div class="decoration-wrapper">
        <svg class="decoration" width="300" height="21">
          <use href="/img/sprite.svg#icon-decoration"></use>
        </svg>
      </div>
      <h2 class="feedbacks-title">Words from Our Wonderful Couples</h2>
      <p class="feedbacks-text">
        Read what the couples who entrusted us with their most precious memories
        have to say.
      </p>
    </div>
    <div class="swiper">
      <ul class="feedbacks-list swiper-wrapper">
        <li class="feedbacks-item swiper-slide">
          <div class="feedbacks-item-textual-wrapper">
            <p class="feedbacks-comments">
            "Maria is a true professional! She managed to capture every single
            emotion of our wedding day. Looking through the photos, we get to
            relive that special day all over again. Thank you for the incredible
            memories!
          </p>
          <p class="feedbacks-names">Olena &amp; David</p>
          </div>
        </li>
      </ul>
      <div class="feedbacks-custom-buttons-wrapper">
         <div class="custom-swiper-pagination"></div>
        <div class="feedbacks-buttons-container">
          <button
            type="button"
            class="feedbacks-button feedbacks-button-prev"
            aria-label="Previous feedback"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="/img/sprite.svg#icon-arrow_back"></use>
            </svg>
          </button>
          <button
            type="button"
            class="feedbacks-button feedbacks-button-next"
            aria-label="Next feedback"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="/img/sprite.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
