<section class="feedbacks" id="feedbacks">
  <div class="container">
    <div class="feedbacks-textual-wrapper">
      <div class="decoration-wrapper">
        <svg class="decoration" width="300" height="21">
          <use href="/img/sprite.svg#icon-decoration"></use>
        </svg>
      </div>
      <h2 class="feedbacks-title">
        Words from Our Wonderful Couples
    </h2>
    <p class="feedbacks-text">Read what the couples who entrusted us with their most precious memories have to say.</p>
    </div>
    <ul class="feedbacks-list">
        <li class="feedbacks-item">
            <p class="feedbacks-comments">"Maria is a true professional! She managed to capture every single emotion of our wedding day. Looking through the photos, we get to relive that special day all over again. Thank you for the incredible memories!</p>
            <p class="feedbacks-names">Olena & David</p>
        </li>
    </ul>
  </div>
</section>
