<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="/index.html" class="logo-header">
        <svg width="70" height="55" class="logo-svg">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a href="#about">About Me</a></li>
          <li class="header-nav-item"><a href="#benefits">Benefits</a></li>
          <li class="header-nav-item"><a href="#portfolio">Portfolio</a></li>
          <li class="header-nav-item"><a href="#FAQ">FAQ</a></li>
        </ul>
        <div>
          <a href="#contacts" class="button">Book a Session</a>
        </div>
      </nav>
      <button type="button" class="burger-btn">
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
    <div class="mob-menu">
      <div class="container">
        <div class="mob-menu-wrapper">
          <a href="/" class="logo-header">
            <svg width="70" height="55" class="logo-svg">
              <use href="/img/sprite.svg#icon-logo"></use>
            </svg>
          </a>
          <button type="button" class="mob-menu-close-btn">
            <svg width="24" height="24" class="logo-svg">
              <use href="/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="mob-menu-nav-wrapper">
          <nav class="mob-menu-nav">
            <ul class="mob-menu-nav-list">
              <li class="mob-menu-nav-item"><a href="#about">About Me</a></li>
              <li class="mob-menu-nav-item">
                <a href="#benefits">Benefits</a>
              </li>
              <li class="mob-menu-nav-item">
                <a href="#portfolio">Portfolio</a>
              </li>
              <li class="mob-menu-nav-item"><a href="#FAQ">FAQ</a></li>
            </ul>

            <a href="#contacts" class="button mob-menu-nav-book-link"
              >Book a Session</a
            >
          </nav>
        </div>
      </div>
  </div>
</header>
