<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio-textual-wrapper">
      <div class="decoration-wrapper">
        <svg class="decoration" width="300" height="21">
          <use href="/img/sprite.svg#icon-decoration"></use>
        </svg>
      </div>
      <h2 class="portfolio-title">Portfolio Highlights</h2>
    </div>
    <div class="portfolio-category-buttons-wrapper">
      <ul class="portfolio-buttons-list">
        <li data-id="1">
          <button
            type="button"
            class="portfolio-button active"
            data-category="All Photos"
          >
            All Photos
          </button>
        </li>
      </ul>
    </div>
    <div class="portfolio-gallery-wrapper">
      <ul class="portfolio-gallery-list"></ul>
      <span class="loader visually-hidden"></span>
      <p class="portfolio-pagination-text">
        <span class="portfolio-uploaded-photo">12</span> of
        <span class="portfolio-total-amount">100</span> photos
      </p>
      <button type="button" class="button portfolio-button-load-more">
        Show More
      </button>
    </div>
  </div>
</section>
